html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: black;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
      background: black; 
    
}


h1 {
  font-weight: bold;
  color: #fff;
  font-size: 32px;
}

h2 {
  font-weight: bold;
  color: #fff;
  font-size: 24px;
}

    /* unvisited link */
a:link {
    color: black;
     text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
     text-decoration: none;
}

/* mouse over link */
a:hover {
    color: black;
    text-decoration: none;
}

/* selected link */
a:active {
    color: black;
     text-decoration: none;
    }



h1, h2, h3, h4, h5, h6 {
    color: white;
    font-weight: 600;
    line-height: 1.3;
    
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;

    
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}




/*   Dropdown     */
ul {
  text-align: center; /* menu nav bar*/
   
  display: inline;
  margin: 0;
  padding: 0px 0px 0px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: black;
 text-decoration: none;
    
 
}

ul li {
  font: bold 12px/18px sans-serif; /* menu nav bar drop down*/
  display: inline-block;
  width: 20%;
  margin-right: -5px;
  position: relative;
  padding: 5px 
      0px;
  background: white; 
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
       

  transition: all 0.2s;
}
ul li:hover { 					/* menu nav bar change color when mouse over*/
  background: #5C5C5C;
  color: #fff;
    
}
ul li ul {								/* menu nav bar drop down menu defualt settings*/
  padding: 0;
  position: absolute;
  top: 28px;
  left: 0;
  width: 500%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -moz-transition: opacity 0.2s;

}
ul li ul li { 							/* menu nav bar drop down menu cursor is not hovering over*/
  background: #5C5C5C; 
  display: block; 
  color: white; 
    text-decoration: none;
  text-shadow: 0 -1px 0 #000;
    
}
ul li ul li:hover { background: white;  /* menu nav bar drop down menu cursor hovering over*/
color:black;}
ul li:hover ul {
	
  display: block;
  opacity: 1;
  visibility: visible;
    
}


div.Grid {
    width: 300px;
    height: 600px;
}

div.Grid div.Grid {
    width: 100px;
    height: 100px;
    outline: 1px solid;
    float: left;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.infoBox {
    position: absolute;

    top:  25%;
    left : 10%;
    width: 80%;
    height: 600px;
    background-color: rgba(300, 300, 300, 0.4);font-size:36px;
}

